
/PaintItAll/Bin
/PaintItAll/obj
/PaintItAll/obj
/Proattiva.Utils.Phone/obj
/Proattiva.Utils.Phone/Bin
/Proattiva.Utils.Phone/Proattiva.Utils.Phone.csproj.user
/PaintItAll.Model/Bin
/PaintItAll.Model/obj
/PaintItAll.Model/.gitignore
/Microsoft.Phone.Controls.Toolkit/obj
/Bin
/Backup
_UpgradeReport_Files
/*.suo
/PaintItAll.Model/*.user
/UpgradeLog.XML
/UpgradeLog.htm
